/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(home-background.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
}

div.container { 
	position: relative;
	min-height: 100vh;
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */

body {  
    font-family: sans-serif;  
}  

main { 
	padding: 2rem 2rem 5rem;
	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
	 margin: 0 0 1.5rem 0;
}

header {
	display: grid;
	grid-template-columns: 1fr auto;
	background: rgb(204,204,204);
	padding: 1em 1em;
	}

h1 {
	max-width: 15rem;
	}

h2, h3, h4 {
		font-weight: 700;
	}

h2 {
	font-size: 2.5rem;
	margin: 1.25rem 2rem 1rem 0rem;
	}
	
h3 {
	font-size: 1.5rem;
	margin: 1rem 2rem 0.8rem 0rem;
}


a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	padding: 0 0.2rem;
	}
	
ul li 	{
	list-style-type: none;
	margin: 1rem 0;
}

figure {
	margin-bottom: 1rem;
}

main.menu ul {
		margin: 0;
}	

main.menu ul li {
		margin: 0 0 1.25rem;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
}	

p {
	margin: 0 0 1.5rem 0;
	text-align: left;
	}
	
p.description {
	grid-column: 1 / 3;
	margin: 0.5rem 0 0;
	}
	
p.price {
	grid-row: 1;
	grid-column: 2;
	color: rgb(234,55,40);
	text-align: right;
	margin: 0;
	}
	
nav ul li {
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 1.5rem;
	}
	
nav ul li a {
	color: rgb(225,255,84);
	background-color: rgb(0,0,245);
	padding: 0.5rem 0.5rem 0.5rem;
	}
	

p.slogan {
	font-size: 4em;
	font-family: serif;
	font-style: italic;
	margin: 1.5em 0.5em 0.5em 0;
	color: rgb(255, 255, 255);	
	}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1em 0.5em;
  background: rgb(255,255,84);
}

address {
	color: rgb(240,151,62);
	margin: 0 0 0.25em 0;

}

footer p {
	margin: 0;
}

