/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

div.container { 
	position: relative; 
	min-height: 100vh; 
	max-width: 78em; 
	background: rgb(251,233,232);
	margin: auto; 
}

div.home-container { 
	background: url(bagehome.jpg);
	background-size: cover;
	position: relative;
	min-height: 100vh;
	max-width: 78em;
	margin: auto;
 }

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */

body {  
    font-family: sans-serif;  
	background-color: rgb(251,233,232);
}  

main { 
	padding: 2rem 2rem 5rem;

	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
	 margin: 1.5rem 0;
}

header {
	display: grid;
	grid-template-columns: auto 1fr;
	background: rgb(165,53,55);
	align-items: center;
	padding: 0 1rem 0 1rem;
	}

h1 {
	max-width: 15rem;
	}

h2, h3, h4 {
		
	font-family: "chicle", serif;
	font-weight: 400;
	font-style: normal;
	color: rgb(165,53,55);
	}

h2 {
	font-size: 4rem;
	margin: 1.25rem 0rem 1rem 0rem;
	font-family: "chicle", serif;
	font-weight: 400;
	font-style: normal;
	color: rgb(165,53,55);
	
	}
	
h3 {
	font-size: 2.5rem;
	margin: 1rem 0rem 0.8rem 0rem;
	font-family: "chicle", serif;
	font-weight: 400;
	font-style: normal;
	color: rgb(165,53,55);
	text-align: center;
}


a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	padding: 3em 0.2rem;
	font-family: "ltc-bodoni-175", serif;
font-weight: 400;
font-style: normal;
	}
	
ul li 	{
	list-style-type: none;
	margin: 1rem 0;
	font-family: "ltc-bodoni-175", serif;
font-weight: 400;
font-style: normal;
	
}

figure {
	margin-bottom: 1rem;
}

main.menu ul {
		margin: 0;
}	

main.menu ul li {
		margin: 0 0 1.25rem;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
}	

p {
	margin: 0 0 1.5rem 0;
	font-family: "ltc-bodoni-175", serif;
font-weight: 400;
font-style: normal;
	}
	
p.description {
	grid-column: 1/3;
	margin: 0 0;
	}
	
p.price {
	grid-row: 1;
	grid-column: 2;
	color: rgb(165, 53, 55);
	text-align: right;
	margin: 0;
	}
	
nav ul li {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 1em;
	}
	
nav ul li a {
	color: rgb(251, 233, 232);
	background: none;
	padding: 0;
}



p.slogan {
	font-size: 3em;
	font-family: "parlare", sans-serif;
font-weight: 400;
font-style: normal;
	margin: 0.5em 0.5em 0.5em 0;
	color: rgb(165, 53, 55);
	}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1em 0.5em;
  color:  rgb(251, 233, 232); 
  font-family: "ltc-bodoni-175", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-color: rgb(165, 53, 55);
}

address {
	color: rgb(165, 53, 55);  
	margin: 0 0 0.25em 0;
	font-family: "ltc-bodoni-175", serif;
font-weight: 400;
font-style: normal;

}

footer p {
	margin: 0;
}



@media screen and (min-width: 60em) {
	main.menu ul {display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0em 4em;

	}
	nav ul li {
		display: inline;
		font-size: 1.5em;
		margin-left: 0.75em;
	}


}

nav ul li.selected a{
	background-color: rgb(251, 233, 232); 
	color: rgb(165, 53, 55);
	padding: 0.25em 0.5em 0.25em 0.5em;
	border-radius: 8px;
}

article {
	margin: auto;
	max-width: 60em;
}

.contact-info {
	text-align: center;

	
}