/*CSS DOCUMENT*/

body {
	font-family: sans-serif;
	line-height: 1.4em;
	color: #222;
	background-color: #fafafa;
	box-sizing: border-box;
	margin: 0;
	padding: 2em;
	}

img {
	width: 100%;
	}
figure {
	margin: 0;
}

div.container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 60em;
	}

	header {
		flex: 1 0 100%;
	}
	
	article {
		flex: 2 0 30em;
		text-decoration: none;
		padding: 0 2em 0 0;
		
	}

	article ol {
		flex: 2 0 30em;
		text-decoration: none;
		padding: 0 0 0 0.2em;
		
	}

	aside {
		flex: 1 0 15em;
		text-decoration: none;
	}

	footer {
		flex: 1 0 100%;
		text-decoration: none;
		color: #000;
		border-top: 0.1em solid #000;
		
	}
	footer a {
		text-decoration: none;
		color: #000;
		
	}

	aside section {
	background-color: rgb(238, 238, 238);
	margin-bottom: 1em;
	padding: 0.75em;
	}

	aside a {
	text-decoration: none;
	color: #000;
	}


	aside h3 {
		margin: 0.5em 1em 0.2em 0;
		max-width: 32em;

	}

	aside p {
		margin: 0 0 1em 0;
		max-width: 32em;
		
	}